<div class="container">
    <fieldset>
        <div>
            <h5>Hurray! you are logged in.</h5>
            <p>{{weather}}</p>
            <p>{{news}}</p>
            <p>{{sports}}</p>
            <img src="{{logo}}">
            <p>{{events}}</p>

        </div>
    </fieldset>
</div>
