<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
		<a class="navbar-brand" href="#">Start Bootstrap</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
		    aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- Page Content -->
<div class="container">
			{{!-- gnome animation --}}
			<div style="position:relative">
        		<div id="b" style="position:absolute;"> 
            		<img src="../assets/images/gnome.png" alt="gnome">
        		</div>
    		</div>
	<div class="row">
		<div class="col-md-12">

		</div>

		<!--header-->
		<div class="header-w3l">
			<h1>Welcome, {{username}}</h1>
		</div>

		<!-- Page Features -->
		<div class="row text-center">



		<!-- email -->
		<div class="col-lg-4 col-md-6 mb-4">
			<div id="effect" class="card">
				<div class="card-body">
					<div class="sub-main-w3" id="d4">
						<h3>Gmail
							<img class="card-img-top" id='email-img' src="../assets/images/gmail.png" alt="">
						</h3>

						<div class="row">
							<ul>
								<li>{{{email}}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<a href="https://mail.google.com/mail/u/1/#inbox" class="btn btn-primary">Go to Gmail</a>
				</div>
			</div>
		</div>
				<!-- calendar -->
		<div class="col-lg-4 col-md-4 mb-4">
			<div id="effect" class="calendar-card">
				<div class="card-body">
					<div class="sub-main-w3" id="d2">
						<h3>Calendar
							<img class="card-img-top" id='email-img' src="../assets/images/gcalendar.png" alt="">
						</h3>
						{{!-- <img class="card-img-top" src="{{logo}}" alt=""> --}}
						<iframe src="{{calendar}}"></iframe>
					</div>
				</div>
				<div class="card-footer">
					<a href="https://calendar.google.com/calendar/b/0/r/week" class="btn btn-primary">Go To Calendar</a>
				</div>
			</div>
		</div>
			<!-- weather -->
			<div class="col-lg-4 col-md-6 mb-4">
				<div id="effect" class="card">
					<div class="card-body">
						<div class="sub-main-w3" id="d2">
							<h2>Weather</h2>
							<h6>{{city}}</h6>
							<img class="card-img-top" src="../assets/images/weather.png" alt="">
							<h6>{{weather}}</h6>
						</div>
					</div>
					<div class="card-footer">
						<a class="btn btn-primary">Hide Weather</a>
					</div>
				</div>
			</div>
			<!-- news -->
			<div class="col-lg-4 col-md-6 mb-4">
				<div id="effect" class="card">
					<div class="card-body">
						<div class="sub-main-w3" id="d3">
							<h2>News</h2>
							<div>{{{news}}}</div>
						</div>
					</div>
					<div class="card-footer">
						<a class="btn btn-primary">Hide News</a>
					</div>
				</div>
			</div>


			<!-- sports -->
			<div class="col-lg-4 col-md-6 mb-4">
				<div id="effect" class="card">
					<div class="card-body">
						<div class="sub-main-w3" id="d4">
							<h2>Sports</h2>
							<img class="card-img-top" src="{{logo}}" alt="">
							<h6>{{{sports}}}</h6>
						</div>
						<div class="card-footer">
							<a class="btn btn-primary">Hide Sports</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div class="footer">
		<p>&copy; 2018 The Gnome Page. All rights reserved | Design by
			<a href="https://github.com/petercboss/Papayas-Project-2">Papayas-Project-2</a>
		</p>
	</div>
</div>